################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FoodsNow/.vs/FoodsNow
/FoodsNow/FoodsNow.DbEntities/obj
/FoodsNow/FoodsNow.DbEntities/bin/Debug/net7.0
/FoodsNow/.vs/ProjectEvaluation
/FoodsNow/FoodsNow.DataManagementTool/obj
/FoodsNow/FoodsNow.DataManagementTool/bin/Debug/net7.0
/FoodsNow/FoodsNow.Core/bin/Debug/net7.0
/FoodsNow/FoodsNow.Core/obj
/FoodsNow/FoodsNow.Services/bin/Debug/net7.0
/FoodsNow/FoodsNow.Services/obj
/FoodsNow/FoodsNow.App/Properties/PublishProfiles/FoodsNowDevApi - Zip Deploy.pubxml
/FoodsNow/FoodsNow.App/Properties/ServiceDependencies/FoodsNowDevApi - Zip Deploy
/FoodsNow/FoodsNow.App/Properties/serviceDependencies.FoodsNowDevApi - Zip Deploy.json
/FoodsNow/FoodsNow.Core/bin/Release/net7.0
/FoodsNow/FoodsNow.DbEntities/bin/Release/net7.0
/FoodsNow/FoodsNow.Services/bin/Release/net7.0
/FoodsNow/FoodsNow.App/Properties/serviceDependencies.json
/FoodsNow/FoodsNow.MobApi/Properties/PublishProfiles
/FoodsNow/FoodsNow.MobApi/Properties/ServiceDependencies/FoodsNowDevApi - Zip Deploy
/FoodsNow/FoodsNow.MobApi/Properties/serviceDependencies.FoodsNowDevApi - Zip Deploy.json
