################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FoodsNow/.vs/FoodsNow
/FoodsNow/FoodsNow.DbEntities/obj
/FoodsNow/FoodsNow.DbEntities/bin/Debug/net7.0
/FoodsNow/.vs/ProjectEvaluation
